<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26063172720-cptrtn8p5stbrom6eoouorsc2e09g3nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26063172720-cptrtn8p5stbrom6eoouorsc2e09g3nq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26063172720-rbmbub7ipcoc5a166gg9cu307r1qk6mf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSQe5BRpytd_7GHKawmgDsvpysE-fkJg0</string>
	<key>GCM_SENDER_ID</key>
	<string>26063172720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.depauw.hoovereats</string>
	<key>PROJECT_ID</key>
	<string>hoovereats-67e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>hoovereats-67e7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26063172720:ios:59b7e6cebfff079bf8b0b5</string>
	<key>DATABASE_URL</key>
	<string>https://hoovereats-67e7a.firebaseio.com</string>
</dict>
</plist>